<div class="container">
  <h1 class="title">Manter Aluno</h1>
  <form>
    <!-- Descrição -->
    <div class="form-row">
      <label for="nome">Nome</label>
      <input id="nome" type="text" formControlName="nome">
    </div>

    <div class="form-row">
      <label for="cpf">CPF</label>
      <input id="cpf" type="text" formControlName="cpf">

      <label for="matricula">Matrícula</label>
      <input id="matricula" type="text" formControlName="matricula">

      <label for="email">E-mail</label>
      <input id="email" type="text" formControlName="email">

      <label for="idTurma">IdTurma</label>
      <input id="idTurma" type="number" formControlName="idTurma">
    </div>

    <!-- Botão de Salvar -->
    <div class="form-row">
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>
