<div class="container">
  <h1 class="title">Manter Professor</h1>
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <!-- Descrição -->
    <div class="form-row">
      <label for="nome">Nome</label>
      <input id="nome" type="text" formControlName="nome">
    </div>

    <!-- Valor e Quantidade -->
    <div class="form-row">
      <label for="cpf">CPF</label>
      <input id="cpf" type="text" formControlName="cpf">

      <label for="email">E-mail</label>
      <input id="email" type="text" formControlName="email">
    </div>

    <!-- Botão de Salvar -->
    <div class="form-row">
      <button type="submit" [disabled]="!formGroup.valid">Salvar</button>
    </div>
  </form>
</div>
